<table class="table table-striped table-success">
    <thead>
        <tr>
            <!-- <th scope="col col-sm-4 col-md-6">UID</th> -->
            <th scope="col col-sm-4 col-md-6">NAME</th>
            <th scope="col col-sm-4 col-md-6">DESCRIPTION</th>
            <th scope="col col-sm-4 col-md-6">PRICE</th>
            <th scope="col col-sm-4 col-md-6">IMAGE</th>
            <th scope="col col-sm-4 col-md-6" colspan="2" style="text-align: center;">ACTIONS</th>
        </tr>
    </thead>
    <tbody>
        <% products.forEach(product=> { %>
            <tr>
                <!-- <th scope="row">
                    <%= product.uid %>
                </th> -->
                <td scope="col">
                    <%= product.name %>
                </td>
                <td scope="col">
                    <%= product.desc %>
                </td>
                <td scope="col">
                    <%= product.price %>
                </td>
                <td><img src="<%= product.imageUrl %>" alt="<%= product.name %>"
                        style="max-width: 100px; max-height: 125px;">
                </td>
                <td><a href="/update-product/<%= product.uid %>" type="button" class="btn btn-warning">Edit</a></td>

                <td><a type="button" class="btn btn-danger" onclick="deleteProduct('<%= product.uid %>')">Delete</a>
                </td>
            </tr>
            <% }) %>
    </tbody>
</table>